In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .master("spark://spark-master:7077") \
    .appName("Our first Python Spark SQL example") \
    .getOrCreate()

In [4]:
spark.sparkContext.getConf().getAll()

[('spark.app.name', 'Our first Python Spark SQL example'),
 ('spark.driver.host', '192.168.0.101'),
 ('spark.app.startTime', '1642690707360'),
 ('spark.rdd.compress', 'True'),
 ('spark.driver.port', '55884'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.id', 'local-1642690709370'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.sql.warehouse.dir',
  'file:/Users/oneforall_nick/Desktop/CS/Porgramming/Udacity_Data_Engineer_nanodegrees/Core_Modeling/Udacity_Data_Lake/spark-warehouse'),
 ('spark.ui.showConsoleProgress', 'true')]

In [5]:
spark

In [7]:
!ls -laht

total 56
drwxr-xr-x@ 16 oneforall_nick  staff   512B Jan 20 23:10 .
-rw-r--r--   1 oneforall_nick  staff   3.6K Jan 20 23:10 Operation_etl_data.ipynb
drwxr-xr-x@  6 oneforall_nick  staff   192B Jan 20 23:10 ..
drwxr-xr-x@ 10 oneforall_nick  staff   320B Jan 20 23:04 .idea
drwxr-xr-x@  3 oneforall_nick  staff    96B Jan 20 22:58 lib
drwxr-xr-x@ 11 oneforall_nick  staff   352B Jan 20 16:30 .git
drwxr-xr-x@  7 oneforall_nick  staff   224B Jan 20 16:07 share
-rw-r--r--   1 oneforall_nick  staff   443B Jan 20 15:31 README.md
drwxr-xr-x@  3 oneforall_nick  staff    96B Jan 20 15:25 etc
drwxr-xr-x@ 72 oneforall_nick  staff   2.3K Jan 20 15:23 bin
drwxr-xr-x@  5 oneforall_nick  staff   160B Jan 20 15:15 data
-rw-r--r--   1 oneforall_nick  staff   7.0K Jan 20 11:41 etl.py
-rw-r--r--   1 oneforall_nick  staff    94B Jan 19 14:53 .gitignore
drwxr-xr-x@  5 oneforall_nick  staff   160B Jan 19 14:52 __MACOSX
-rw-r--r--   1 oneforall_nick  staff   344B Jan 19 14:50 pyvenv.cfg
-rw-r--r--   1 oneforall_nick  staff    45B Jun 20  2019 dl.cfg

In [41]:
path = "data/log_data/*.json"
user_log = spark.read.json(path)

In [42]:
# Display the user_log dataframe schema
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [43]:
user_log.describe()

DataFrame[summary: string, artist: string, auth: string, firstName: string, gender: string, itemInSession: string, lastName: string, length: string, level: string, location: string, method: string, page: string, registration: string, sessionId: string, song: string, status: string, ts: string, userAgent: string, userId: string]

In [44]:
# like sql limit 1 (display column & row view )
user_log.show(n=1)

+--------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+-------------+------+-------------+--------------------+------+
|  artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|         song|status|           ts|           userAgent|userId|
+--------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+-------------+------+-------------+--------------------+------+
|Harmonia|Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
+--------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+-------------+------+-------------+--------------------+------+
only showing top 1 row

In [21]:
# Use Row for indicating each of data record, e.g. take(5) means show one row of one data record completely.
print(type(user_log.take(5)))
print("...")
user_log.take(1)

<class 'list'>
...

[Row(artist=None, auth='Logged In', firstName='Walter', gender='M', itemInSession=0, lastName='Frye', length=None, level='free', location='San Francisco-Oakland-Hayward, CA', method='GET', page='Home', registration=1540919166796.0, sessionId=38, song=None, status=200, ts=1541105830796, userAgent='"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', userId='39')]

In [28]:
# Key select, so it will display a table.
# DataFrame is a Class, so it will be created object by instance
    ## first step: call class
#       -> user_log = spark.read.json() this is a dataframe class
#      Second step: instance object show(), take(), select("").show()
#       -> user_log.show(), user_log.show(n=1), user_log.take(5), user_log.select(<column>).show()
# select artist from user_log;
# This select function return DataFrame, so it can call show() method.(Under the DataFrame)
user_log.select("artist").show()

+--------------------+
|              artist|
+--------------------+
|                null|
|                null|
|             Des'ree|
|                null|
|             Mr Oizo|
|          Tamba Trio|
|      The Mars Volta|
|   Infected Mushroom|
|Blue October / Im...|
|           Girl Talk|
|     Black Eyed Peas|
|                null|
|        Fall Out Boy|
|              M.I.A.|
|            Survivor|
+--------------------+

In [45]:
# Aggregation the data information that are including count, mean, etc.
user_log.describe(['artist']).show()

+-------+------------------+
|summary|            artist|
+-------+------------------+
|  count|              6820|
|   mean|             266.5|
| stddev|109.00229355385143|
|    min|               !!!|
|    max|   ÃÂtienne Daho|
+-------+------------------+

In [46]:
# Count all data
user_log.count()

8056

In [54]:
# Display the column null or not!!
# user_log.filter("artist is NULL").show()
# user_log.filter(user_log.artist.isNull()).show()
from pyspark.sql.functions import col
user_log.filter(col("artist").isNull()).show()

+------+----------+---------+------+-------------+---------+------+-----+--------------------+------+---------+-----------------+---------+----+------+-------------+--------------------+------+
|artist|      auth|firstName|gender|itemInSession| lastName|length|level|            location|method|     page|     registration|sessionId|song|status|           ts|           userAgent|userId|
+------+----------+---------+------+-------------+---------+------+-----+--------------------+------+---------+-----------------+---------+----+------+-------------+--------------------+------+
|  null| Logged In|    Wyatt|     M|            0|    Scott|  null| free|Eureka-Arcata-For...|   GET|     Home|1.540872073796E12|      563|null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|
|  null| Logged In|   Austin|     M|            0|  Rosales|  null| free|New York-Newark-J...|   GET|     Home|1.541059521796E12|      521|null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|
|  null| Logged In|   Samuel|     M|            1| Gonzalez|  null| free|Houston-The Woodl...|   GET|    About|1.540492941796E12|      597|null|   200|1542253460796|"Mozilla/5.0 (Mac...|    61|
|  null|Logged Out|     null|  null|            0|     null|  null| paid|                null|   PUT|    Login|             null|      602|null|   307|1542260074796|                null|      |
|  null| Logged In|    Tegan|     F|            1|   Levine|  null| paid|Portland-South Po...|   GET|     Home|1.540794356796E12|      602|null|   200|1542260277796|"Mozilla/5.0 (Mac...|    80|
|  null| Logged In|    Tegan|     F|            6|   Levine|  null| paid|Portland-South Po...|   GET|     Home|1.540794356796E12|      602|null|   200|1542261713796|"Mozilla/5.0 (Mac...|    80|
|  null| Logged In|    Chloe|     F|            0|   Cuevas|  null| paid|San Francisco-Oak...|   GET|     Home|1.540940782796E12|      606|null|   200|1542265424796|Mozilla/5.0 (Wind...|    49|
|  null| Logged In| Mohammad|     M|            0|Rodriguez|  null| free|Sacramento--Rosev...|   GET|     Home|1.540511766796E12|      591|null|   200|1542267925796|"Mozilla/5.0 (Mac...|    88|
|  null| Logged In| Mohammad|     M|            1|Rodriguez|  null| free|Sacramento--Rosev...|   GET|  Upgrade|1.540511766796E12|      591|null|   200|1542268164796|"Mozilla/5.0 (Mac...|    88|
|  null| Logged In| Mohammad|     M|            2|Rodriguez|  null| free|Sacramento--Rosev...|   GET|     Home|1.540511766796E12|      591|null|   200|1542268187796|"Mozilla/5.0 (Mac...|    88|
|  null| Logged In|    Avery|     F|            1|  Watkins|  null| paid|San Jose-Sunnyval...|   GET|     Home|1.540871783796E12|      324|null|   200|1542275430796|Mozilla/5.0 (Wind...|    30|
|  null| Logged In|    Tegan|     F|            1|   Levine|  null| paid|Portland-South Po...|   GET|Downgrade|1.540794356796E12|      611|null|   200|1542275437796|"Mozilla/5.0 (Mac...|    80|
|  null| Logged In|    Tegan|     F|            2|   Levine|  null| paid|Portland-South Po...|   GET|Downgrade|1.540794356796E12|      611|null|   200|1542276099796|"Mozilla/5.0 (Mac...|    80|
|  null| Logged In|    Tegan|     F|           11|   Levine|  null| paid|Portland-South Po...|   GET|Downgrade|1.540794356796E12|      611|null|   200|1542278172796|"Mozilla/5.0 (Mac...|    80|
|  null| Logged In|    Rylan|     M|            3|   George|  null| paid|Birmingham-Hoover...|   GET|Downgrade|1.541020249796E12|      575|null|   200|1542279284796|"Mozilla/5.0 (Mac...|    16|
|  null| Logged In|    Rylan|     M|            9|   George|  null| paid|Birmingham-Hoover...|   GET|     Help|1.541020249796E12|      575|null|   200|1542280260796|"Mozilla/5.0 (Mac...|    16|
|  null| Logged In|    Kaleb|     M|            0|     Cook|  null| free|       Yuba City, CA|   GET|     Home|1.540679673796E12|      560|null|   200|1542281730796|Mozilla/5.0 (Wind...|    54|
|  null| Logged In|    Chloe|     F|            0|   Cuevas|  null| paid|San Francisco-Oak...|   GET|     Home|1.540940782796E12|      615|null|   200|1542285072796|Mozilla/5.0 (Wind...|    49|
|  null| Logged In|    Chloe|     F|            1|   Cuevas|  null| paid|San Francisco-Oak...|   PUT|   Logout|1.540940782796E12|      615|null|   307|1542285073796|Mozilla/5.0 (Wind...|    49|
|  null| Logged In|   Aleena|     F|            0|    Kirby|  null| paid|Waterloo-Cedar Fa...|   GET|     Home|1.541022995796E12|      536|null|   200|1542285134796|Mozilla/5.0 (Maci...|    44|
+------+----------+---------+------+-------------+---------+------+-----+--------------------+------+---------+-----------------+---------+----+------+-------------+--------------------+------+
only showing top 20 rows

In [57]:
user_log.select("page").dropDuplicates().sort("page").show()

+----------------+
|            page|
+----------------+
|           About|
|       Downgrade|
|           Error|
|            Help|
|            Home|
|           Login|
|          Logout|
|        NextSong|
|   Save Settings|
|        Settings|
|Submit Downgrade|
|  Submit Upgrade|
|         Upgrade|
+----------------+

In [60]:
user_log.select(["userId", "firstname", "page", "song"]).where(user_log.userId == "1046").collect()

[]

# Calculating Statistics by Hour

In [61]:
# Use udf of pyspark for creating a get_hour function and adding on the user_log dataframe
from pyspark.sql.functions import udf
from datetime import datetime
get_hour = udf(lambda x: datetime.fromtimestamp(int(x)/1000.0).hour)

# Add the hour new colum on the user_log dataframe
user_log = user_log.withColumn('hour', get_hour(user_log.ts))

# display one data of user_log
user_log.head()

Row(artist='Harmonia', auth='Logged In', firstName='Ryan', gender='M', itemInSession=0, lastName='Smith', length=655.77751, level='free', location='San Jose-Sunnyvale-Santa Clara, CA', method='PUT', page='NextSong', registration=1541016707796.0, sessionId=583, song='Sehr kosmisch', status=200, ts=1542241826796, userAgent='"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', userId='26', hour='8')

In [71]:
# Show How log does users played next page to listen music?
# Mwthod1
# songs_hours = user_log.filter("page == 'NextPage'").groupBy(user_log.hour).count().orderBy(user_log.hour.cast("float"))

# Mwthod2
songs_in_hours = user_log.filter(user_log.page == 'NextPage').groupBy(user_log.hour).count().orderBy(user_log.hour.cast("float"))

In [63]:
songs_in_hours.show()

+----+-----+
|hour|count|
+----+-----+
+----+-----+